<div style="padding-top: 1em; padding-bottom: 2em;">
<hr width="100%">
<a href="#top">Top of this document</a><br />
<a href="#" onclick="goBack()">Previous page</a><br />
<a href="./acknowledge.html">Acknowledgments</a><br />
<a href="./index.html">Course homepage</a><br />
<a href="https://github.com/kingaa/sbied/">Source code for these notes</a><br />
<a href="https://www.biostat.washington.edu/suminst/sismid/">SISMID homepage</a><br />
<a href="https://kingaa.github.io/pomp/"><strong>pomp</strong> homepage</a><br />
</div>

<script>
function goBack() {
  window.history.back();
}
</script>
